<img src={{if book.cover book.cover "/images/book-cover.jpg"}} class="card-img-top" alt="Обложка книги">
<div class="card-header">
    <h5 class="card-title">{{book.title}}</h5>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div><strong>Автор</strong>: {{book.author}}</div>
        <div><strong>Количество страниц</strong>: {{book.pages}}</div>
        <div><strong>Теги</strong>: 
        {{#each (prepare-tags book.tags) as |tag|}}
            {{#link-to "books" (query-params tags=tag) class="tag-link"}}
                <span class="small">{{tag}}</span>
            {{/link-to}}
        {{/each}}
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-auto">
                Рейтинг:
            </div>
            <div class="col">
                <div class="progress">
                    {{get-book-rating book.rating}}
                </div>
            </div>
        </div>
    </li>
</ul>