<div class="form-signin-wrapper">
    <main class="form-signin text-center">
        <form onsubmit={{action "saveUser"}}>
            <img class="mb-4" src="images/logo-dark.png" alt="" height="57">
            <h1 class="h3 mb-3 fw-normal">{{t "menu.register"}}</h1>
            {{#each errors as |error|}}
                <div class="error-alert">{{error.message}}</div>
            {{/each}}
            {{#if inputErrors}}
                {{#if (v-get this 'user.email' 'isInvalid')}}
                    <span class="text-danger">
                        {{v-get this 'user.email' 'message'}}
                    </span>
                {{/if}}<br>
                {{#if (v-get this 'user.password' 'isInvalid')}}
                    <span class="text-danger">
                        {{v-get this 'user.password' 'message'}}
                    </span>
                {{/if}}
            {{/if}}
            <div class="form-floating">
                {{input value=model.email class="form-control" type="email" id="floatingInput" placeholder="name@example.com"}}
                {{!-- {{#each errors.email as |error|}}
                    <span class="error-message">{{error.message}}</span>
                {{/each}} --}}
            </div>
            <div class="form-floating">
                {{input value=model.password type="password" class="form-control" id="floatingPassword" placeholder="Пароль"}}
                {{!-- {{#each errors.password as |error|}}
                    <span class="error-message">{{error.message}}</span>
                {{/each}} --}}
            </div>
            
            <div class="form-floating">
                {{g-recaptcha-v2
                    verified=(action "verified")
                    expired=(action "expired")
                    reset=reset
                }}
            </div>


            <button class="w-100 btn btn-lg btn-primary mb-3" type="submit" disabled={{iAmRobot}}>Зарегистрироваться</button>
            {{#link-to "index" class="w-100"}}Назад{{/link-to}}
        </form>
    </main>
</div>